@tailwind base;
@tailwind components;
@tailwind utilities;


.svg-white {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(119deg) brightness(104%) contrast(102%);
}

.svg-green {
    filter: invert(63%) sepia(100%) saturate(392%) hue-rotate(85deg) brightness(84%) contrast(88%);
}

.svg-orange {
    filter: invert(62%) sepia(98%) saturate(3191%) hue-rotate(348deg) brightness(97%) contrast(102%);
}

.svg-red {
    filter: invert(48%) sepia(64%) saturate(5473%) hue-rotate(338deg) brightness(97%) contrast(94%);
}
